[2018-06-04 14:17] naugtur opened #1 "Feature requests"
Request features in comments, I'll add it to the list if I accept the request.

Planned
- [x] "remove dependency" as one of the resolutions

Possible
- [ ] run the fix and then add to ignore
- [ ] generate a patch to bump a dependency of your dependency

[2018-10-08 19:47] naugtur commented on #1
@CADBOT interesting. This uses npm under the hood and it's intended (I started the process) as a future npm audit feature, so not sure where to go from here. I'll see if npm accepts a cli argument to override repo url, and I'll pass it through in that case. Got other thoughts?

[2018-12-12 16:56] nulltoken opened #5 "Any plan to support yarn?"
Would supporting `yarn --audit` be a suitable feature?

[2018-12-15 18:08] naugtur commented on #5
Didn't know yarn exposes audit.

The goal of this package is to eventually become a part of npm cli, so I'm not sure where to fit yarn support.

Anyway, I'm working with npm to figure out the functionality and that's where my focus is for now. But I'm open to keeping it reusable if feature parity is feasible.

You want to help or just asking? ;)

[2018-12-15 19:07] nulltoken commented on #5
see https://yarnpkg.com/lang/en/docs/cli/audit/

Provided you think this package could (and should) actually work with both package managers, I'd very very open to help making that happen.

[2018-12-15 19:52] naugtur commented on #5
Happy to hear you're willing to help.
I hope you're also willing to wait, as the RFC process in npm is moving slowly and it'll likely take a few more months to figure out what this should do. Then it's a matter of writing the right adapters - that's where we collaborate :)

Check out the RFC and if you want to use the current version with yarn, you'd need to replace the call to npm audit --json wi

[2018-12-15 22:00] nulltoken commented on #5
Found it at https://github.com/npm/rfcs/pull/18

Thanks a lot, I'm going to take a look.

[2019-01-08 13:30] joh-klein commented on #1
Is there a chance to skip/ignore all DevDependencies?

[2019-01-08 19:09] naugtur commented on #1
currently you can ignore low severity automatically, but not dev dependencies.
I didn't put that in because with the data I get as input, I wasn't sure what would happen if something is both in deps and devDeps

I'd consider adding this as an option defined in the audit-resolve file. How would you want to ignore them? In resolve-audit or in check-audit, or both?

[2019-01-10 12:37] joh-klein commented on #1
I thought both, to be honest. And why not do it as an cli argument?

[2019-01-11 12:54] balassy opened #6 "Prototype pollution vulnerability in merge-options@1.0.1 dependency"
As a security conscious developer, I would like to add `npm-audit-resolver` to our CI pipeline, which already contains [RetireJS](https://retirejs.github.io/retire.js/), so I can scan my dependencies with both scanners.

Unfortunately RetireJS warns about a vulnerability in one of the dependencies of `npm-audit-resolver`:
[code]

`npm-audit-resolver` references this package through `spawn-shell@2.

[2019-01-11 16:36] MarkSkillen opened #7 "Ability to produce JSON output file?"
Hi,

Does the ability exist currently (or is it in-progress) that a user could execute this scan and flag that they would like a report file generated by running something like:

check-audit --registry=https://registry.npmjs.org/ --json

i.e. in the above that a json file is physically generated?

If this didn't currently exist, could it be made available?

Thanks.

[2019-01-20 18:49] naugtur commented on #6
That's been addressed, bumped the dependency version here too, but any fresh install should now be ok.

[2019-01-20 18:49] #6 closed

[2019-01-20 18:51] naugtur commented on #7
Could you explain more about what you need in the output?
`npm audit --json` (the command used within) is returning all the information. I'm assuming you'd like to see the same output, but filtered to your ignores etc. ?

[2019-01-20 18:56] naugtur commented on #1
audit-resolve file is where this tool puts your decisions about what's safe to ignore etc. so it made sense to me to keep it there. Any reasons skipping dev dependencies should be treated as unrelated? Should a run with dev and without dev share the same audit-resolve file in your opinion? I'm not sure if I see a situation where that'd be useful, but happy to get feedback!

[2019-02-01 19:42] naugtur commented on #5
#8 is now a possibility.

[2019-02-01 20:33] nulltoken commented on #5
@naugtur Thanks for that. Subscribed.

Closing this.

[2019-02-01 20:33] #5 closed

[2019-02-06 18:24] tothimre opened #9 "Make it suitable for git hooks"
Hello I am using husky for mapping to git hooks easily like this

"husky": {
  "hooks": {
    "pre-commit": "npm run node_modules/.bin/resolve-audit && ...."
  }
}

If no user input possible it does not wait for the user input, that makes sense, but if there are errors it shall give back other than 0 return code, that would make this tool useful.

[2019-02-06 18:35] naugtur commented on #9
Taht's what the check-audit command is for. I run it in CI for almost a year now.

[2019-02-06 18:35] #9 closed

[2019-02-06 18:36] naugtur commented on #9
Also, instead of npm run you can use npx
https://naugtur.pl/pres3/securedev/#/18

So you use the interactive version to make decisions and the check-audit command to force yourself to :)

[2019-03-07 14:43] rouanw commented on #7
@MarkSkillen @naugtur I've opened a pull request (https://github.com/naugtur/npm-audit-resolver/pull/10) to provide this functionality.

[2019-03-07 18:54] MarkSkillen commented on #7
Just to clarify my original comment, I’m talking about a physical file (e.g. something like “report.json”), not just the output to the console.

[2019-03-07 19:00] rouanw commented on #7
@MarkSkillen you can just pipe the output to a file. E.g. On *nix:

[code]

[2019-03-25 02:08] joebowbeer opened #12 "fix did not fix"
When I was trying to fix the recent js-yaml issue, the `npm update` invoked by npm-audit-resolver claims to have succeeded but I had to run `npm audit fix` to actually fix the issue.

Steps:

I installed npm-audit-resolver as a devDependency and added a `audit-resolver` script to package.json that runs resolve-audit.

[code]

However, npm audit (and check-audit) still complains about the first pro

[2019-03-25 06:09] naugtur commented on #12
Thanks for a very thorough report. If you could also provide the version number of npm-audit-resolver you used I should be able to reproduce.

[2019-03-25 07:41] joebowbeer commented on #12
npm-audit-resolver@1.5.0

[2019-03-27 22:10] naugtur commented on #12
I don't see how it could have happened yet. Could you share your package-lock from before and after the working fix?

[2019-03-27 22:33] joebowbeer commented on #12
It is not easy to return to this state but if I encounter something similar I'll try to isolate a repro.

My workaround now is to run audit fix first to let it do what it can before running resolve-audit.

[2019-03-28 06:34] naugtur commented on #12
Ok, no worries.

I was hoping you had package lock file committed to git so the broken version would be ready to find in history.

[2019-03-29 10:54] naugtur commented on #12
I just reproduced it in one of my repos.
Note that if you run `npm audit` and then take the command it prints as a fix for the single issue it doesn't fix the issue, but `npm audit fix` does.

That means if resolver only gets the output of audit -> not much I can do.
Let's ask some npm people.

[2019-04-11 23:22] stewartduffy commented on #1
Any chance for an option for longer remind timeframe. 24 hours can be difficult to deal with. Propose
- Remind 24 hours
- Remind 1 week
- Remind 1 month

[2019-06-10 12:32] naugtur commented on #1
Public announcement: Remind option will not change, but I'm planning to add expiry to ignore.

[2019-08-02 21:04] #7 closed

[2019-08-02 21:54] naugtur commented on #1
@stewartduffy npm-audit-resolver@next supports expiring ignores, which effectively does what you wanted.

[2019-08-05 19:20] naugtur opened #16 "help testing with yarn"
I personally don't use yarn for any real projects at this time so it'd be helpful if someone with real life examples tested the support.

How to?
- install npm-audit-resolver@next
- try out both `check-audit` and `resolve-audit` commands on your yarn project. use `--yarn` flag to enable support
- report back with thoughts and results.

Anyone willing to help?
@clement-escolano @MerlinDMC @danielab

[2019-08-05 19:30] danielabel commented on #16
I've weeded out the yarn from our services. I don't think we have any projects left.

I'll check and get back to you if i find any.

[2019-08-06 08:16] MerlinDMC commented on #16
As @danielabel said we don't have yarn anymore. But I know Kibana is using it so I gave that a go with somewhat amazing results.

[code]

Essentially I think whatever converts the `yarn.lock` to `package-lock.json` is missing bits.

I also don't think it is needed... why don't you just run `yarn audit --json` and parse that output to get the vulnerabilities?
The format is line based so would need

[2019-08-06 08:47] mtt87 commented on #16
Did a quick test
[code]
output
[code]

If I run `resolve-audit --yarn` then I ge that long list and then prompted about what to do
[code]

After I say `f` a few times then I get to the end
[code]

That said what happened was the creation of a file `audit-resolve.json` and pretty much nothing happened to `yarn.lock` or `package.json`

I also tried this in a monorepo (yarn workspaces) and that fails

[2019-08-06 09:01] naugtur commented on #16
Thanks!

So the converter was not my idea but seemed a good one - I checked yarn audit output and it's very different. I assumed the output format of npm audit is pretty much what the registry returns and I'm surprised yarn returned something else.

Maybe something else confused me. Anyway, looking into mapping it to what the rest of the core logic expects could be a better way out in this case.

[2019-08-06 09:05] mtt87 commented on #16
Yes if I run `yarn audit` at the root of the monorepo workspace it works.

[2019-08-06 09:26] naugtur commented on #16
Another reason to try using yarn audit output instead.
Thanks!

Please share the yarn and package files you used if they're not secret. I'd like to make more e2e tests out of those.

[2019-08-06 09:27] mtt87 commented on #16
For the monorepo workspace I used this
https://github.com/mtt87/ks-serverless-now

For a generic yarn project you can do
[code]

😄

[2019-08-06 14:24] clement-escolano commented on #16
Hello,

On some project, I reproduced the same error as the one reported by MerlinDMC: `ELOCKVERIFY`, the `package-lock.json` generated by `synp` seems to be incorrect.

The reason I used `synp` instead of parsing `yarn audit --json` output in the original PR is the following:

If `synp` is not working correctly, the only solution seems to parse `yarn audit --json` report and not to provide the fi

[2019-08-06 20:41] naugtur commented on #16
check out `yarn-support-2.0` branch - I think it'd make more sense to start there.
I saw you adapted the output from yarn and it seems to be pretty much ready.

If you can PR the adapter to the branch, I could pull it in and figure out what to do with the fixing part. I could make it depend on some information and later we'd work with yarn people to get it addressed.

[2019-08-06 21:01] naugtur commented on #16
Also, I postponed work on the investigate feature and it's not available now.
I'm thinking of making it something separate or at least put some boundaries in to make adding features to it easier.

[2019-08-14 11:46] Undistraction commented on #1
FWIW I definitely like the idea of being able to ignore all advisories for dev dependencies. How about allowing certain packages to be ignored? Guess you have the same problem again of how to handle advisories that apply both to ignored packages and not-ignored packages.

[2019-08-22 19:43] stewartduffy commented on #1
Hey @naugtur sorry I dropped out of this conversation for ages - I got pulled on a number of different projects and got busy. I will update out app to use npm-audit-resolver@next today and give feedback on how we go. Thanks for this! Sounds like it will do just the trick.

[2019-08-22 21:13] stewartduffy commented on #1
@naugtur I just tried it with the expiring ignore for 1 month. Works well thanks!

[2019-09-18 22:18] Undistraction commented on #16
I get the following running `npx audit-resolver --yarn`:

[code]

[2019-09-19 05:06] rouanw commented on #16
Hi @Undistraction. Thanks for reporting. Which version of Node are you using? [`Promose.prototype.finally`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/finally#Browser_compatibility) is only supported from Node 10.

I remember @naugtur was [keen on supporting older node versions](https://github.com/naugtur/npm-audit-resolver/pull/10#issuecomment-4733886

[2019-09-19 08:43] naugtur commented on #16
Uh... Yes... Let's.
I don't think there's anyone interested in maintaining security of their dependencies while using v4 anymore, but v8 is still good.
I'll publish another prerelease today.

Thanks!

[2019-09-19 09:14] Undistraction commented on #16
@naugtur, @rouanw thanks both. I'm on `18.13.0`.

[2019-09-19 09:48] naugtur commented on #16
published a new version (2.0.0-4) with a total rewrite of yarn support. please check if it works for you.

@Undistraction @rouanw @danielabel @MerlinDMC @mtt87 @clement-escolano

[2019-09-19 13:12] Undistraction commented on #16
@naugtur Unfortunately (`2.0.0-4`):

[code]

And

[code]

[2019-09-19 15:56] naugtur commented on #16
Looks like it didn't even switch to yarn and the --yarn flag didn't work.
That's why testing in isolation is lame. I'll add an end to end test to fix this. Check back on Monday

[2019-09-22 21:06] naugtur commented on #16
published 2.0.0-5 and it should work fine now

[2019-09-23 15:29] Undistraction commented on #16
@naugtur That's working great for me. Thanks. Feel free to ping me if you need anything testing in yarn in the future.

[2019-09-23 18:10] naugtur commented on #16
the fix option for yarn is not implemented correctly so I'll have more stuff to test.
Let me know if you notice anything wrong. Feel free to report regular bugs

[2019-09-24 21:25] naugtur commented on #16
v2.0.0 is out

[2019-10-22 10:27] jansu76 commented on #1
Suggestion: possibility to have `check-audit` fail only if some high or critical issues were found. Not when there there were low issues.

Reasoning: we currently ignore all low severity vulnerabilities. We have e.g. a dev dependency `@vue/cli-plugin-unit-jest` that has a lot (tens) of low severity issues. Having all those issues configured in `audit-resolve.json` makes the configuration file very

[2019-10-23 07:09] naugtur commented on #1
Yeah, I might have broken the ignoreLow param in the big rewrite for v2.
If you look at the new audit file format it has the rules section in there. It's meant to host features like defining the severity below which ignores should be automated. Please create a new issue on the repo and write down how you see it. We'll collaborate on the idea a bit. I'd rather build something better than just fix t

[2019-12-08 05:12] joebowbeer commented on #1
Recent versions of `npm audit` can ignore devDependencies using the `--production` flag.

I'd like audit-check to be at least as capable as npm audit. Can I pass-through options such as `--production` from audit-check to npm audit?

[2019-12-08 19:57] naugtur commented on #1
@joebowbeer not implemented. Agree it's necessary.
I need to think if this should be a single flag that's passed or if something more generic makes sense since we're now supporting npm and yarn.

Could you open an issue? PR welcome - I can guarantee I won't be able to get to implement it till Tuesday at least

[2019-12-08 22:31] joebowbeer opened #18 "Provide pass-through for npm audit options such as --production"
Recent versions of npm audit can ignore devDependencies using the `--production` flag.

I'd like check-audit to be at least as capable as npm audit. A simple list of pass-through options may suffice.

Regarding yarn support for devDependencies in particular, it looks like they are not checked consistently: https://github.com/yarnpkg/yarn/issues/7047

[2019-12-08 22:32] joebowbeer commented on #1
I created https://github.com/naugtur/npm-audit-resolver/issues/18

[2019-12-10 20:23] coreysnyder commented on #1
Is there any way to define which `audit-resolve.json` is used? I have a micro-service architecture and 27 web repos all pull in a node_module `ui-scaffolding` which has 99% of the vulnerabilities that come up. I am looking for a way for all of my web projects to reference/mix-in the `audit-resolve.json` in that library and apply any web-project specific ignores. That way when I fix an ignore in ui

[2019-12-11 14:12] naugtur commented on #1
@coreysnyder that's definitely interesting.
For now I believe you can only use symlinks.

But there's a few ways to solve this. Let's pop out to an issue just for this and discuss. Please open the issue on the audit-resolver-core repo.

I'd like to think about ways we could reference other files with rules.
One difficulty is paths differ between installation so if depth of sub dependency differs,

[2019-12-11 14:16] naugtur commented on #18
I'm considering ignoring dev dependencies by default...

Incomplete yarn support makes this issue lean towards just having a way to pass flags down

[2019-12-17 13:23] RomWW12 opened #19 "--ignoreLow does not ignore low vulnerabilities with Yarn"
Hi,

First, thank you for making npm-audit-resolver available, it's a great tool that I am now setting up on my project.

I just came across an issue using `resolve-audit --yarn --ignoreLow`. I encountered several low vulnerabilities and got this output:

[code]

Unfortunately, they were not ignored as they still appear when I run `check-audit`. This is currently a problem for me because it makes

[2019-12-17 14:12] naugtur commented on #19
Yes, the rewrite to accommodate for yarn broke ignorelow. I intend to bring it back as a rule in a file maybe

[2019-12-17 19:24] RomWW12 commented on #19
I've had time to check a bit deeper, and came to those lines:
[code]

IMHO, the problem lies in the choice argument of `action.takeAction`. When I dug into git history, I found that 'i' used to mean ignore, but now it means opening a new prompt.
So I think, the fix could be reduced to changing that 'i' to any of the other ignore commands: 'M', 'W', '!'.

There is an underlying question to make thi

[2019-12-17 23:56] naugtur commented on #19
Honestly? I postponed fixing it because I'm thinking of a set of new options including a way to work with multiple audits for many apps at once and I'm yet to figure it out.

I'd accept a PR fixing the boolean flag to do '!' or 'M' whichever seems more reasonable.
Prefer to avoid magic values for the flag.

[2020-01-20 22:49] #18 closed

[2020-01-20 22:50] naugtur commented on #18
@joebowbeer @pdusen Thanks for your contributions!

[2020-01-21 02:43] pdusen opened #21 "Consider publishing a release with the argument passthrough changes"
I noticed that no new release has thus far been published since #18 was resolved. I'm not sure if that was intentional or not, but I'd like to request that you consider publishing a new release.

We use this tool in my office for a stage of CI build validation, and being able to filter audits to production dependencies only would greatly reduce the amount of audit-related fixes we need to do.

[2020-01-21 16:56] naugtur commented on #21
Sorry I didn't release. I had to tend to my family urgently right after merging... Will release as soon as I'm at my computer again.

I should set up automated publishing I guess...

[2020-01-21 16:57] naugtur commented on #21
My team at work is using it on 40 repositories. But this week we're planning the next big project and I didn't touch the keyboard at work either.

[2020-01-21 17:03] pdusen commented on #21
No worries, I just wanted to make sure a release in the near future was in the cards.

[2020-01-21 23:48] naugtur commented on #21
Before publishing I need to:

- [ ] document the passthrough
- [ ] check if it affects direct arguments (--json to check-audit, --yarn and --migrate to resolve-audit)
- [ ] (optionally) add an end2end test of argument passing

Not releasing right now - it's 00:47 and I don't trust myself to do the testing right.

[2020-01-23 13:11] pdusen commented on #21
Cheers.

If you do end up finding that it affects direct arguments, you can probably resolve it by adding the argument names to the list of filtered keys. I already did this for --json, but you could easily add the others.

[2020-01-23 22:45] naugtur commented on #21
I saw that.

I got tests to pass, now completing the list of arguments to skip

[2020-01-23 23:09] naugtur commented on #21
Got it.
Would you mind trying out current master?

[2020-01-23 23:11] pdusen commented on #21
What would you like me to try? Updating a project with a known devdependency audit failure and seeing if it passes the audit?

[2020-01-23 23:12] naugtur commented on #21
Check the functionality you needed is still there :)

[2020-01-23 23:23] pdusen commented on #21
Looks good to me. Compare the two runs below:

[code]
[code]

[2020-01-23 23:27] naugtur commented on #21
Ok, let's do this.

[2020-01-23 23:29] naugtur commented on #21
published v2.2.0

[2020-01-23 23:29] #21 closed

[2020-01-23 23:37] pdusen commented on #21
Thanks for your hard work!

[2020-01-23 23:51] joebowbeer commented on #19
By the way, I tried passing `--audit-level moderate` in v2.2.0 as a replacement for the remove ignoreLow support, but it is not working as I expected. Even though `npm audit` succeeded (exit: 0), `check-audit` failed:

[code]

[2020-01-23 23:55] joebowbeer commented on #21
See https://github.com/naugtur/npm-audit-resolver/issues/19#issuecomment-577932135 concerning missing `ignoreLow` and unexpected behavior passing `--audit-level` option.

[2020-01-24 01:15] naugtur commented on #19
Let's close this one and open new then.

I'm surprised it worked that way. It doesn't make sense to me. Flags were passed and exit code is correct. Result should also be empty.

Thanks for finding this! Please share package-lock.json that causes this.

[2020-01-24 04:02] joebowbeer opened #22 "--audit-level pass-through does not behave as expected"
An observation and possibly a bug.

I tried passing `--audit-level moderate` in v2.2.0 as a replacement for the removed ignoreLow support (#19), but it is not working as I expected. Even though npm audit succeeded (exit: 0), check-audit failed:

[code]

NOTE: `--audit-level` does not change the output, it only changes the exit code.

Repro:

[code]

[2020-01-24 07:50] naugtur commented on #22
Oh. Your note explains it all. check-audit ignores exit code from npm/yarn because even if exit code is >0 it may be ok after we apply the ignore rules.
You'd need to use a switch that limits output or implement more logic in audit-resolver to understand that exit code of 0 means check-audit should also be ok.
But then if you get 100 low issues and one high, it fails and reports all of them anyway

[2020-03-03 10:17] xavierlefevre opened #23 "Add comments to decisions"
Hello guys, discovered your lib thanks to @clement-escolano, works greatly.

While resolving my security warnings, and ignoring some, I thought that allowing to add a comment could be useful, to remember the why of some decisions.

Is it a little something you might find useful and planned to add?

[2020-03-03 16:55] naugtur commented on #23
I was thinking about requesting a reason when ignoring, but didn't come up with the interaction I'd want to be there. I don't want to slow down the default process of making decisions.
Maybe a rule that'd turn it on it require...
Share your thoughts pls

[2020-03-23 11:31] ion2s-JM commented on #1
**Feature request**: calling "audit-resolve" (or "audit-resolve --clean") removes decisions from the json that are no longer relevant. Example After an "npm audit fix" i want to see the whitelist get shorter, i do not want to update all decision timestamps, which happens if i empty the file and call audit-resolve again.

[2020-03-25 07:58] naugtur commented on #1
@ion2s-JM I can relate. Good idea. Please create a separate issue where we could discuss details.
I'd suggest a PR too, but it might require changes to audit-resolver-core as well. let's talk more  in the issue.

[2020-03-25 16:34] kensentor opened #24 "Curious spawn error"
I set up `check-audit` to run in my CI setup (AWS CodeBuild) but am receiving a curious error:

[code]

It's being run inside an environment with Node v12 and NPM v6.13 (which is already running a bunch of Node commands) as part of a Bash script that is the CI process. I'm running it via `npm run check-audit` which aliases to `node node_modules/.bin/check-audit --production`.

[2020-03-25 16:40] naugtur commented on #24
that's odd.. maybe it's somehow restricted and not allowed to spawn child processes?

[2020-03-25 17:48] kensentor commented on #24
I wondered that too, but I can't find anything in the AWS docs that asserts this restriction exists. I only found a forum thread by someone saying that `exec` apparently works: https://forums.aws.amazon.com/thread.jspa?threadID=290406 . Running Jest, JSHint, etc. are all working.

I guess the `spawn` command comes from down in the `audit-resolve-core` package somewhere?

[2020-03-25 17:52] naugtur commented on #24
spawn is called to actually run npm audit or yarn audit under the hood and parse it's output. that's the only API they have that's unlikely to change without warning.

afair Amazon is running their own build if node for functions, not sure about CI

[2020-03-26 15:12] kensentor commented on #24
I'll take it up with AWS. The necessary `/bin/bash` is definitely there, the `$PATH` is definitely there and it includes the node modules, so I don't know what it's barking about unless AWS has some kind of restriction in place. Thanks for taking a look.

[2020-03-26 15:12] #24 closed

[2020-04-09 11:10] jmac105 commented on #1
**Feature request:** Make 'resolve-audit' exit with a non-zero exit code if it is run from a CI server, potentially by using https://www.npmjs.com/package/is-ci or similar.

I've noticed that if a CI server is incorrectly setup to call 'resolve-audit' rather than 'check-audit', then it will exit with a 0 exit code regardless of whether or not there vulnerabilities that needed to be addressed. This

[2020-04-09 12:48] naugtur commented on #1
@jmac105 interesting idea. Instead of pulling in a new dependency, I'd rather exit(1) every time. What do you think?

[2020-04-09 14:23] jmac105 commented on #1
Potentially, looking again at the output from the CI server I wonder if there's an exit condition check that could be added somewhere? I'm interested to know what's causing it to exit here and no just hang waiting for input that will never come?

[code]

If I run resolve-audit locally and ctrl-c out of it when it prompts me for input it recognises that and exits with code 2, hard to replicate the

[2020-04-09 18:44] naugtur commented on #1
please move to a separate issue and we can discuss in more detail there

[2020-04-09 18:46] #19 closed

[2020-04-14 08:09] jmac105 opened #25 "Make 'resolve-audit' exit with a non-zero exit code if run from a CI server"
Following on from https://github.com/naugtur/npm-audit-resolver/issues/1#issuecomment-611471076

My last post:

Potentially, looking again at the output from the CI server I wonder if there's an exit condition check that could be added somewhere? I'm interested to know what's causing it to exit here and no just hang waiting for input that will never come?

[code]

If I run resolve-audit locally an

[2020-04-15 11:14] jmac105 commented on #25
After some more investigation I've been able to replicate this I think. It seems that the callback here https://github.com/naugtur/npm-audit-resolver/blob/master/src/resolve/micro-promptly.js#L15 is never executed, the process exits without waiting for it.

[2020-04-21 09:48] Undistraction commented on #16
v2.2.0
Yarn@1.22.0
NPM@6.13.1
OSX

@naugtur I'm now seeing this hanging. There is the following output, then nothing:

[code]

[2020-05-01 02:01] lenymo opened #26 ""yargs-parser" prototype pollution npm vulnerability"
In a somewhat ironic development, `npm-audit-resolver` itself is affected by the following npm vulnerability advisory:
https://www.npmjs.com/advisories/1500

I tested this vulnerability on an old version (1.4.1) as well as the latest available release (2.2).

Coped from the advisory above:

[2020-05-01 10:54] zcabjro commented on #1
Small but nice usability improvement would be to use a human-readable date for expires. Would make reviewing `audit-resolve.json` easier for team members that would otherwise have to verify or trust that the epoch time is both desirable and correct.

[2020-05-01 11:21] Undistraction commented on #1
Yarn now offers a `--groups` flag which allows you to choose not to audit development dependencies. It would be really helpful if this could be supported.

https://classic.yarnpkg.com/en/docs/cli/audit/

[2020-05-01 15:38] naugtur commented on #1
@Undistraction all flags you set on check-audit are passed down to yarn (except for the yarn flag itself :) )

[2020-05-01 16:07] Undistraction commented on #1
@naugtur Ah! Amazing. Thank you.

[2020-05-04 07:44] johanneswuerbach commented on #26
I created https://github.com/naugtur/npm-audit-resolver/pull/27, but it requires a bunch of related bumps to get resolved 🤞

[2020-05-07 00:14] colinbjohnson commented on #22
Should this be entered in https://github.com/naugtur/npm-audit-resolver/issues/1? I would be interested in the same functionality.

[2020-05-07 09:01] naugtur commented on #22
It's good here. #1 is for stuff you're not sure about.

I wonder if it'd make sense to handle this transparently, but then I'd have to go through all options for both npm and yarn to be consistent and not cause confusion why some of them work and some don't.

So I'd rather go with rules you'd need to specify in the audit-resolve file.

Unless there's a general rule that applies here. But if I just

[2020-05-20 09:31] Jackques commented on #22
--audit-level flag is not working in my situation. It's not clear to me if it should work or not but judging from the comments above or if this would work in a new version?

At the very least i would love something like a --ignoreLowVulnerabilities flag seeing as i get some low vulnerabilities and one moderate or above.

Could something like this be supported?

[2020-05-21 21:36] naugtur commented on #22
again, --audit-level only changes the exit code of audit process, but doesn't change the output and output is the only thing resolver can reasonably use.

The functionality will come to the resolver.
I'm not doing it now, because I'd like to get some more context on how resolver fits into npm itself and the talks have resumed.

But some form of auto-ignoring certain level will be supported.

[2020-05-28 10:45] Undistraction opened #28 "yarn --groups passthrough doesn't work with multiple groups"
Yarn supports a `--groups` flag for audit, allowing multiple groups to be passed in:
[code]
However the following:
[code]
Appears to result in a re-ordering of the flags. This is audit-resolver's output:
[code]

[2020-06-03 13:15] KamuelaFranco opened #29 "Update audit-resolve-core to an open-source license"
My organization uses a license scanner that has a strict whitelist. Right now, the tool fails on this dependency:

`Package "audit-resolve-core@1.1.7" is licensed under "UNKNOWN" which is not permitted by the --onlyAllow flag.`

Could you please consider updating the license in the `package.json` of audit-resolve-core?

[2020-06-03 13:22] naugtur commented on #29
Thanks for letting me know. Not sure how I missed it.

If you make a PR with apache2 I'll merge it right away from the phone. Otherwise you need to wait till I'm available.

[2020-06-04 13:49] KamuelaFranco commented on #29
Ah, only issue is I'm not sure I can access that repository! I get a 404 error when I try to follow a link from NPM.

[2020-06-07 20:35] naugtur commented on #29
I went to the repository and it's got a license defined in package.json
There was a 1 letter confusion in the repo name between github and elsewhere, so the link didn't work. I guess that's why the tool didn't work too.
But if you searched my repositories, you would have found it.

I renamed the repo in github to match the URLs etc. Let me know if this is still a problem

[2020-06-07 20:35] #29 closed

[2020-06-16 11:55] chantorak opened #30 "Remind in 1 week"
Can there be an option to remind in 1 week, most issue won't get resolved in 24 hours and need constant attention. I can look into making a PR? will this be useful for others?

[2020-06-16 13:09] naugtur commented on #30
There is the ignore option that can expire in a week or a month. Postpone is realistically just for the current build or two, so that you can make it green for the sprint review :)

[2020-06-16 13:09] #30 closed

[2020-06-29 13:10] RichardBradley commented on #23
I was surprised to not get asked for a reason comment when "ignoring" an audit vulnernability.

I would expect the "ignore" action to prompt for a "reason" comment, but to allow empty comments.
I don't think speed of ignoring audit vulnerabilities is the most important factor here :-)

Thanks for a great tool

[2020-07-14 20:40] cscott opened #31 "Doesn't seem to respect PATH"
[code]

`resolve-audit` seems to be using the system npm (5.8.0) not the version of npm on the PATH (6.14.5).

[2020-07-15 06:26] joebowbeer commented on #26
This is the only vulnerability remaining in our app.

[2020-07-15 18:15] orliesaurus commented on #26
Same here @joebowbeer

[2020-07-15 19:10] #26 closed

[2020-07-15 19:31] naugtur commented on #25
Hi, I missed this issue. Sorry for that.

I don't understand why you're running `resolve-audit` instead of `check-audit` in CI
`resolve-audit` is the command you run locally to answer questions and generate the audit-resolve.json file.
`check-audit` is the command you run on the server to make npm audit take the resolve file into account.

Could you explain what's your usecase?

[2020-07-15 19:33] naugtur commented on #28
That might be a feature of the yargs parser. I knew pass-through is gonna cause trouble.

Sorry I took so long to notice this. Did you solve it by any chance?

[2020-07-15 19:35] naugtur commented on #31
Thanks for reporting.
Is this regular Bash on Linux or something else?

[2020-07-15 19:41] jmac105 commented on #25
No problems. The use case is a developer mistakenly setting resolve-audit to run on CI rather than check-audit. In that case I think resolve-audit should have a non zero exit code to make in incorrect usage clear.

[2020-07-15 20:32] naugtur commented on #25
Oh, ok. I get it.
Seems like a simple change, but I wonder what would break.

Or maybe it could use a module that detects running in ci and then warns about it in ascii art?

[2020-07-16 08:11] jmac105 commented on #25
I still think a non zero exit code would be preferable. I did try to have a look through the code to understand where the change would need to be made but can't remember finding anything, other than setting process.exitCode to 1 at the start and then resetting it to 0 once this callback is executed https://github.com/naugtur/npm-audit-resolver/blob/master/src/resolve/micro-promptly.js#L15 ?

[2020-07-16 10:02] naugtur commented on #25
Makes sense.

[2020-07-22 18:24] naugtur commented on #25
[code]

[2020-07-24 03:50] lenymo commented on #26
Thanks for fixing this! 👍

[2020-07-24 11:39] naugtur commented on #26
Sorry for the delay, life came and messed with my hobbies ;)

[2020-08-19 11:20] zcabjro commented on #23
We've taken to manually adding a comment to `resolve-audit.json` (e.g. "ignoreComment": "...") that typically points to relevant GitHub issues or otherwise explains the decision and why we ignore for 1 week instead of 1 month etc.

Having this built-in to the ignore flow would be great!

[2020-08-19 11:29] naugtur commented on #23
I promise I'll add it eventually. It's been a thing even before this thread. Currently I'm focusing the little time I have on getting npm to support the audit resolve file directly.

[2020-09-09 15:26] snappyfoo opened #32 "Suggestion - check-audit argument to ignore dev dependencies?"
What is the feasibility / likelihood of this feature?
Use case: never wanting audit problems with dev dependencies to cause CI issues. Review of dev dependency issues can be done manually at regular intervals.

[2020-09-09 15:29] naugtur commented on #32
It's already there. --production is passed to npm command underneath.
Actually, all switches that this app doesn't consume are passed down

[2020-09-09 15:33] snappyfoo commented on #32
Thanks @naugtur, I'll try it out. I didn't spot any documentation for it.

[2020-10-01 23:36] #32 closed

[2021-02-09 01:07] mgdodge opened #34 "Doesn't work with npm@7 and above [work almost finished, see @next tag on npm]"
Using nvm to run node 14, but update npm to latest version (v 7.5.3). Project already has audit-resolve.json file. Running `check-audit` results in the following:

[code]

That log file contains the following:

[code]

Have a variety of projects, some using `check-audit` in commit hooks like this, others using it in CI build hooks - really causing a lot of issues!

[2021-02-09 07:15] naugtur commented on #34
Great to hear you're using npm-audit-resolver.
I've built it in my hobby time and am working to get it built into nom and other package managers. It's a slow moving initiative tho.

About npm7 - looks like the format of audit json changed.

[2021-02-09 12:00] mgdodge commented on #34
Found this enlightening - https://uko.codes/dealing-with-npm-v7-audit-changes

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Zbyszek Tenerowicz <notifications@github.com>
Sent: Tuesday, February 9, 2021 12:15:48 AM
To: naugtur/npm-audit-resolver <npm-audit-resolver@noreply.github.com>
Cc: mgdodge <mgdodge@hotmail.com>; Author <author@noreply.github.com>
Sub

[2021-02-12 18:06] emilong commented on #1
I'd love to be able to add a comment about why I chose to ignore a warning for both myself and teammates who might wonder about it in the future. :)

[2021-02-12 19:49] naugtur commented on #1
@emilong  That's one of the oldest pending features. I think I added the reason field to the JSON schema already, but didn't come up with a good idea how to take the input without making the process longer for ppeople not using it.

[2021-03-03 11:54] drswobodziczka commented on #1
Hello @naugtur !

It would be nice to have the `resolver` just to forward exit status received from `npm-audit`.

Namely suppose the following npm script:

`"security:check": "node node_modules/npm-audit-resolver/check.js --audit-level=high"`

^ it just fails for any not yet resolved issue. I would rather expect it to log all the _lower_than_high_ ones -- but PASS in the same time, respecting para

[2021-03-03 17:23] naugtur commented on #1
The whole point of check-audit is to only return 0 when npm audit returns positive. What exactly would it do in all cases? When something is found, when something should be ignored etc.

Want to work on listing a sort of user story with all permutations?

[2021-03-15 17:02] hanvyj commented on #34
I get a similar issue with npm 6.13.4:

[code]

[2021-04-08 09:44] naugtur commented on #34
Thanks for the link.

The output from npm7 makes some core audit-resolver features impossible.

Resolver is taking care of the dependency tree paths in which things get installed so that it reports the vulnerability as not-ignored if it finds it in a different dependency path (a new package starts using the ignored thing so maybe you no longer want to ignore it).
npm7 won't let me do that.
Gonna h

[2021-04-08 14:45] mgdodge commented on #34
Frustrating. Guess I'll be sticking to npm 6 for now. This utility has been invaluable to a number of projects I have been working on, so I'm not migrating them to npm 7 until I can ensure a similar audit experience.

[2021-04-08 14:49] mgdodge commented on #34
Is it worth doing a patch-level release to update the README and tell people it won't work properly with npm 7?

[2021-04-09 14:14] naugtur commented on #34
yup, I'll do that.

I'm also considering getting a limited version out without the path protection, but wanted to talk to npm folks first.

[2021-04-09 20:25] naugtur commented on #34
I might have a way.
@mgdodge or anynone else - would you be willing to share a result of `npm audit --json` on your repositories for npm6 and npm7 for me to explore?

[2021-04-10 18:22] mgdodge commented on #34
I'll see if I can find a project that can easily be converted to a minimal example, then create a sample repo.

[2021-04-12 06:35] naugtur commented on #34
@mgdodge All I need is the npm audit --json output from npm6 and npm7 on your project, so if you feel comfortable sharing with me (doesn't have to be public) the list of your vulns at a point in time, It'd be enough.

[2021-04-12 14:44] mgdodge commented on #34
Here is a gist with two example `npm audit --json` outputs:

https://gist.github.com/mgdodge/9d0601e76198af918f2542a5503c9f9e

The repo this is based off of is actually for a vue bug I reported a few months ago - https://github.com/mgdodge/rollup-plugin-vue-treeshake-bug-vue3. If you want/need a full checkout of the project to try running `npm ci`, `npm update` etc. against, these are from the vue

[2021-04-12 15:55] naugtur commented on #34
Thanks.
MY issue with output from npm7 is evident in your example. Look at y18n - in npm6 output you can find paths where the package is at. If you decide none of these affect you, you can ignore it and audit-resolver will NOT ignore it if it shows up in a new location in dependency tree.
Output from npm7 doesn't have that information, so ignoring it once will ignore it even if the vulnerable depe

[2021-04-13 11:58] jakawell commented on #34
Could that information be derived from the `package-lock.json` file? I know that would a lot more complex...

[2021-04-13 12:46] naugtur commented on #34
@jakawell yes, that's the only option left, but correlating it with the right info from audit and the resolve.json file is going to be a lot of work.

[2021-04-13 14:52] mgdodge commented on #34
Not to rain on the parade, but the `package-lock.json` file also underwent changes with npm7. I don't know the details, but [this blog post](https://nitayneeman.com/posts/catching-up-with-package-lockfile-changes-in-npm-v7/) as well as [this one](https://blog.npmjs.org/post/621733939456933888/npm-v7-series-why-keep-package-lockjson.html) might provide some insight. So, not only will there be a nee

[2021-04-13 16:31] joebowbeer commented on #34
@mgdodge to be optimistic, I hope the new v7 format and hidden file make it easier for the audit resolver to work.

@naugtur what are your expectations regarding integration of the audit resolver with npm audit? Is there a statement of intent from npm or anything on the roadmap?

[2021-05-08 04:44] adamzerella commented on #34
Bumping for an update on this issue, I'm also experiencing it with `npm 7`

[2021-05-10 21:26] mfrieling opened #38 "Cannot read property 'reduce' of undefined"
I just installed `npm-audit-resolver` as described and executed `resolve-audit` and immediately got this error message:

[code]

My intention of using this tool is to fix all dependencies listed by `npm audit` except one, which triggers a deprecation warning about several dozen times. As this deprecation is located in an external (commercial) package which I can't fix I want to keep Sass version <

[2021-05-11 02:52] lenymo commented on #38
I have just noticed a similar thing when I tried to run `resolve-audit` today on my Mac running Big Sur 11.3.1.

Here's my error:

[code]

[2021-05-11 10:34] naugtur commented on #34
Update - I think I now know how to recover the missing information by re-indexing the current format. I'll give it a try.
Anyone willing to also share their npm7 audit --json results?

[2021-05-11 14:03] naugtur commented on #34
@mgdodge well, the only limitation is what you feel comfortable sharing. It's a list of vulnerabilities in an app afterall. Send whatever - 3 examples I didn't artificially create is better than 1 :)

[2021-05-12 13:14] mkatanski commented on #38
I'm afraid I have the same issue.

error:

[code]

[2021-05-12 14:21] naugtur commented on #38
Hi, thanks for reporting. It's a duplicate.
https://github.com/naugtur/npm-audit-resolver/issues/34

npm version 7 has introduced a significant breaking change to the audit output and I'm only now figuring it out.

For now, a workaround is to use npm6 or yarn1 audit capabilities or installing npm6 as a dev dependency if that's more suitable.

[2021-05-13 11:50] bytestream commented on #34
@naugtur would adding `npm@6` to this repository's `package.json` temporarily resolve this (until npm 7 is supported)?

I've ran into this after updating `@semantic-release/npm` which now requires `npm@7`. It breaks `check-audit` even though I have npm `6.14.9` installed

[2021-05-13 12:39] naugtur commented on #34
Yes, installing npm 6 helps.
I first saw this issue because of semantic release. I ended up putting semanticrelease in dev dependencies and running audit from global install or npx while installing with --production

[2021-05-13 13:36] jamesots opened #39 "Show NPM advisory ID"
When you press 'd' for 'show more details and ask me again', it would be helpful if the NPM advisory URL was included (e.g. https://npmjs.com/advisories/1700), as I'd like to be able to use the advisory ID for internally logging audit resolutions.

I think it could just be a case of adding `${advistory.url}` to the ouput of `printDetailsOfAdvisory` in `decisions.js`?

[2021-05-13 15:03] naugtur commented on #39
I need to rewrite the details option entirely for npm7 support anyway, so there's more to change there.
If you could elaborate more on what you want to do and why, I didn't really get if you mean you need three id for automation or just see it and do something with it.

[2021-05-13 15:12] jamesots commented on #39
It's just so that developers can copy the ID into a wiki page where we are logging the decisions. It's useful then being able to match it up with the number in audit-resolve.json if we are checking to see why we've ignored something.

[2021-05-13 15:18] naugtur commented on #39
Decisions are logged in the Jason file and while the feature is not developed yet, the format allows a "reason" field

[2021-05-13 15:23] houldsg commented on #12
I just came across this. I think it's related to https://github.com/npm/cli/issues/394

When "fix" runs ```npm update lodash --depth 2```, the audit-resolve.json is created and marks them as fixed but there is no change to the package-lock.json

This is the simplest package-lock.json repro i could make
[code]

[2021-05-13 15:40] jamesots commented on #39
We have multiple projects, so being able to have a central log means people can quickly see how another team has managed a particular advisory. I guess I can always ask them to read the json file after running resolve-audit to find the ids — it's just not as easy as having it displayed while making the decisions.

It's also confusing some people, who were wondering why there's one URL displayed wh

[2021-05-13 15:44] naugtur commented on #39
Sure. I can do that. Please show an example of what you'd like to see

[2021-05-13 16:03] jamesots commented on #39
I'm not too bothered how it's displayed, but I'd probably add it in before the other URLs like this:

[code]

[2021-05-13 16:27] naugtur commented on #39
Ok 😅 now I get it. These urls were not here in the output when I first wrote npm-audit-resolver.

[2021-05-14 19:20] demelere commented on #25
@naugtur Thanks for creating this!  If I'm running Github actions as my CI, where I'm running `npm audit` via https://github.com/marketplace/actions/npm-audit-action as one of the build steps, should I add `check-audit` as a replacement for `npm audit`, or in addition to it (before it)?

[2021-05-14 19:22] naugtur commented on #25
check-audit is a wrapper to npm audit, so instead.

(Note it doesn't work with npm7 yet)

[2021-05-27 21:03] naugtur commented on #34
Good news @here

I've published an early version with npm7 support. Individual package fixing is not implemented, but otherwise it should work.

Check the v3 prerelease by installing `npm i npm-audit-resolver@next` or `npm i npm-audit-resolver@3.0.0-0`

[2021-05-27 21:04] naugtur commented on #39
I had to change what's being displayed when I introduced npm7 support. Check it out and let's talk.

`npm i npm-audit-resolver@next`

[2021-05-27 21:09] naugtur commented on #22
I'm considering changing the behavior in v3 to exit 0 if oriinal command `npm audit` exits 0.

[2021-05-28 07:25] jamesots commented on #39
I like the new output, that'll be perfect for our needs. Thank you.

The only thing I'd change is the colouring of the package name, which is almost unreadable on my screen.

![image](https://user-images.githubusercontent.com/137300/119946096-27dd2e00-bf8e-11eb-82df-b04108163c68.png)

[2021-05-28 08:13] naugtur commented on #39
Oh. That contrast sucks. Thanks for the screenshot.

Keep testing 😅

[2021-05-28 08:23] naugtur commented on #34
Yes, npm decided to stop scrambling private packages. But thanks for cross-checking. I don't have capacity to do solid testing.

Let me know whatever you notice!

[2021-06-02 10:30] DavidJFowler opened #41 "Windows cmd directory prompt disappears after running"
If I run `check-audit` in a Windows command prompt, the directory path prompt disappears.

Windows 10
npm 7.14.0
npm-audit-resolver 3.0.0-0 (next)

See below, after the check-audit completes execution, there is no `D:\source\repos\better-npm-audit-demo>` prompt visible. The caret is still displayed and I can still run commands as shown by the output from `dir`

[code]

[2021-06-02 10:38] naugtur commented on #41
Interesting...
This may be an issue with the chalk package.
Are you saying it didn't happen with V2 only V3?

[2021-06-02 10:48] DavidJFowler commented on #41
Just tried with v2. It still occurs.

[2021-06-02 11:30] naugtur commented on #41
Does it recover when you hit "enter" or stay without a prompt forever?
Maybe it's something to do with the stdout handling...

[2021-06-02 11:32] DavidJFowler commented on #41
Stays without a prompt forever. If I enter `cmd` I get a prompt, but if I then enter `exit` it goes back to no prompt.

[2021-06-02 11:35] naugtur commented on #41
Can you check if 'env' differs before a d after running it?

[2021-06-02 11:39] DavidJFowler commented on #41
No change

[code]

[2021-06-02 11:48] naugtur commented on #41
Ok, I ran out of immediate ideas.
I don't have access to a windows machine.

Try going into the src/views/package.js and removing the emoji on line 42. That's the last thing to try without more research

[2021-06-02 13:20] DavidJFowler commented on #41
I don't think it's your package.

`npm --version` destroys the prompt for me

[code]

Thanks for your help.

[2021-06-02 13:20] #41 closed

[2021-06-02 16:26] jamesots commented on #34
Because it's using a git url for audit-resolve-core, I'm unable to get the prerelease to work in Azure pipelines, as I get this error when it runs `npm ci`:

[code]

[2021-06-02 16:50] joebowbeer commented on #34
@jamesots a lot of people are watching this issue: https://github.com/npm/cli/issues/2610

Related?

[2021-06-02 18:10] naugtur commented on #34
I can switch to a proper package rc tonight to unblock if you promise to report back with feedback.
Pinkie promise? 😜

[2021-06-02 23:26] naugtur commented on #34
3.0.0-1 has a regular dependency instead of a github url.

[2021-06-03 07:28] jamesots commented on #34
It now installs and runs in Azure pipelines. But I now have a different error:

[code]

However, it's also happening with 3.0.0-0, so I guess there's a different audit response coming back from npm since I last tried.

I put some debug logging in, and there appears to be a circular dependency between gatsby and gatsby-plugin-utils which is putting npm-audit-resolver into a spin:

[code]

[2021-06-03 07:40] naugtur commented on #34
Love it!
Could you please send me your package.json and package-lock so I can create a full repro case?
Doesn't have to be in public if you don't want. You can email it to me too. Same login but at gmail

[2021-06-03 08:00] #1 closed

[2021-06-03 08:08] jamesots commented on #34
I've created a very small test which is showing the error. I've put it in a gist: https://gist.github.com/jamesots/ac65692f601c7afb2510241da02a45d9

I included the output from npm audit too.

[2021-06-04 19:59] naugtur commented on #34
@jamesots try v3.0.0-2
I thought it'll be more fun to fix. turns out already had everything in place to track down the cycles.
I used your audit output in a test.

Works for me. Let me know what else you find! :)

[2021-06-08 09:05] mcintyre94 commented on #12
I think this must be an `npm` bug - I can repro the above, but just running `npm update lodash --depth 2` with no `npm-audit-resolver` involved has the same issue.

[2021-06-08 14:42] naugtur commented on #12
npm7 no longer produces individual fix commands.

[2021-06-09 08:19] kellymoore opened #46 "Allow --parseable flag for npm audit to be used"
It would be nice to be able to use the `--parseable` flag so that we can print out the results in pipelines. Currently when passing this flag down, the `--json` flag is still used and we get the following output:

[code]

[2021-06-09 09:06] naugtur commented on #46
Can you explain what you're trying to accomplish?

[2021-06-09 09:27] kellymoore commented on #46
@naugtur the ability to run `npm-audit-resolver` with the `--parseable` flag as can be done with `npm audit --parseable`. The problem is `--json` is appended by default and overrides this, causing the error I've pasted above

[2021-06-09 11:53] naugtur commented on #46
I understand what you're trying to run. I don't understand what for. Need wider context and an example.

If we define the request as "make passing --parseable work" my response is it's impossible, because npm-audit-resolver consumes json from npm audit and without it, all functionality is gone.

Please share what you're trying to accomplish and any context you find relevant

[2021-06-10 10:57] DavidJFowler commented on #34
I can't get v3.0.0-2 or v3.0.0-1 to work. v3.0.0-0 is OK.

I get this error on running check-audit:

[code]
Windows 10 1909 Build 18363.1556
Node 14.17.0
Npm 7.15.1

[2021-06-10 11:17] naugtur commented on #34
This happened to me once before but I thought it was because if the mess I made in local node_modules
Wonder why this doesn't happen to everyone...

I'll fix it in the evening. Check again tomorrow.

[2021-06-10 20:36] naugtur commented on #46
@kellymoore I do want to help you. Please help me help you ;)

[2021-06-15 15:55] Undistraction commented on #28
@naugtur fwiw this is still broken.

[2021-06-15 19:34] naugtur commented on #28
Are you sure it's not just random? It depends on the order of arguments which is not guaranteed.

Also, if you're passing '--something argument' there should be no spaces in the argument or argument needs to be quoted. The convention is to repeat the --something for each argument in CMD utils I know of. So this example was a little odd to begin with.

[2021-07-06 05:23] lewisdaly opened #49 "Add a check to see if a vunerability above a certain severity is being ignored"
Hi @naugtur! Thanks for this tool you've built, we use it quite a bit at [mojaloop](https://github.com/mojaloop/).

We're currently looking for a way to limit the severity of vulnerabilities that can be ignored by developers. Say, for example, there are 2 vulnerabilities without fixes on a project,  one is `low` and the other `high`. A developer may go and ignore both of those vulnerabilities to k

[2021-07-06 08:21] naugtur commented on #49
That's a great idea.
I'm in the process of a major rewrite with npm7 support and there's an opportunity to do this.

Resolve file has a field with rules. We could implement a rule to define lowest severity that can't be ignored and fail check if it's found.

I'll see if the branch I'm working on is in good shape and guide you in - most likely on Friday

[2021-07-06 10:47] lewisdaly commented on #49
Great! Thanks @naugtur

[2021-07-07 20:24] mgdodge commented on #34
So yeah, it took me a month to get out from under some other work, don't judge... ;)

Anyway, another gist - https://gist.github.com/mgdodge/6e2838d626af3e60d3aaf35fd0faaba5. Basing this again off of my other [vue bug report repo](https://github.com/mgdodge/rollup-plugin-vue-treeshake-bug-vue3), which is now old enough it's accumulated several large vulnerabilities, I ran `npx check-audit` and pip

[2021-07-09 12:34] naugtur commented on #49
@lewisdaly I've created a branch with `// TODO` comments for you:
https://github.com/naugtur/npm-audit-resolver/pull/50

For your first implementation I think you should hardcode the rule for severity level as I forgot to expose the getRules function from audit-resolve-core ;)

Let me know if this is helpful. We can jump into a live chat somewhere if you need more. Voice is also an option next wee

[2021-07-09 13:22] #46 closed

[2021-07-09 13:29] naugtur commented on #34
@mgdodge That's serious.
Have you checked if npm audit output without the resolver also differs that much? maybe something's wrong with my algorithm for finding paths from top level dependencies and I'm dropping something from the npm7 output?
I'd check it myself, but I'm not sure which branch you used from the repo and I don't want to guess.

[2021-07-09 16:51] mgdodge commented on #34
Just ran the tests again, on a new machine, to verify things. Here are the exact steps I followed:

- Clone [repo](https://github.com/mgdodge/rollup-plugin-vue-treeshake-bug-vue3), check out vue 2 branch
- From npm 6, run `npm ci` to install from package-lock.json
- Run `npm i -D npm-audit-resolver@latest`
- Run `npx check-audit` with npm 6, piping output to a file

Then, I switched to npm 7 (leav

[2021-07-09 19:07] naugtur commented on #34
npm7 audit itself does list more vulnerabilities. Looks like there's a bug in my algorithm that's selecting the dependency paths pointing to vulnerabilities. I might be loosing something on the way.
Gotta convert your example to a test case now.

[2021-07-11 19:20] naugtur commented on #34
Found it. Thanks for the testcase @mgdodge
Using the example of lodash - lodash is not listed in `npm ls --depth 0` but it doesn't have a `via` field in its vulnerability definition, so it's not reachable. No `via` seems like a bug. so there it is https://github.com/npm/cli/issues/3534

[2021-07-21 19:50] mgdodge commented on #34
Okay, ran the new version and can confirm that it is now finding the lodash issues and others. I have noticed now that the `fix` option in `npm-audit-resolver` does nothing except update the `audit-resolve.json` file and tell me to run `npm audit fix` to fix the actual issues - but doing so does nothing. Might be the same thing [reported here](https://github.com/npm/cli/issues/3472). Npm audit is

[2021-07-21 20:17] naugtur commented on #34
I fixed resolver by working around what seems like a bug in npm. Then I used your repo to report a bug in npm. A bit over an hour ago I mentioned it in npm meeting.

See here https://github.com/npm/cli/issues/created_by/naugtur

[2021-10-23 20:52] joebowbeerxealth opened #51 "yargs-unparser audit warning"
`npm audit` is complaining about `ansi-regex@4.1.0` via `yargs-unparser@1.6.4`

https://snyk.io/test/npm/npm-audit-resolver/2.3.1

Remediation: Upgrade to `yargs-unparser@2.0.0`

Workaround: Make sure npm-audit-resolver is installed as a devDependency and pass `--production` option to the audit checker.

[2022-01-10 20:05] adon-at-work commented on #34
thanks for all the hardwork. may I ask if there's any update?

[2022-01-10 21:38] naugtur commented on #34
Thanks for the polite nudge. (warning: not all maintainers like it :P )
You can install from the `next` tag and pretty much use it, just without the 'fix' option. I got stuck on getting that to work but pushed one change into npm internals that helps with some of the issues

Meanwhile I considered rebuilding the whole thing on top of arborist (the engine behind npm) which would take away many of t

[2022-01-12 08:02] joebowbeer commented on #51
The `npm7-dev` branch currently depends on yargs-unparser@1.6.4, too, which is pulling in a bad ansi-regex

https://nvd.nist.gov/vuln/detail/CVE-2021-3807

[2022-01-12 08:03] joebowbeer commented on #34
It would be great if the next `npm-audit-resolver` were ready in time for those who need to move off of Node12 when it reaches EOL on 4/30/2022

[2022-01-12 09:20] naugtur commented on #34
Good point!
When I get back to it and scaffold things I'll ping y'all for help 😊

[2022-01-12 09:47] naugtur commented on #51
@joebowbeer If you PR this, I'll merge and publish by the end of the week

[2022-01-14 00:32] joebowbeer commented on #51
@naugtur see #53

[2022-01-16 17:08] naugtur commented on #51
released as 3.0.0-5

[2022-01-16 17:08] #51 closed

[2022-01-16 17:09] #28 closed

[2022-02-01 18:35] jurcyk opened #54 "Permission denied error when running inside node 16 docker container"
If you have docker installed you can run this command inside your package folder

**Command**
`docker run --rm --workdir /app -v ${PWD}:/app -it node:16.13.2-bullseye npx -y -p npm-audit-resolver@3.0.0-6 check-audit --json`

**Bad Result**
`sh: 1: check-audit: Permission denied`

**Working command (Older Versions)**
`docker run --rm --workdir /app -v ${PWD}:/app -it node:14.18.2-bullseye npx -p np

[2022-02-01 18:54] naugtur commented on #54
Looks like something changed in your container image and it wasn't just node version

Try installing as dev dependency and running from npm script.

I won't help you beyond that

[2022-02-01 18:58] jurcyk commented on #54
This is not my container, this is the official docker node container https://hub.docker.com/_/node

[2022-02-01 19:47] jurcyk commented on #54
Same issue happens without container

[code]

[2022-02-01 21:07] naugtur commented on #54
It is not a problem with audit-resolver. it says "sh:" before the error.

you don't have exec permissions to npm's bin folder. it's a system config problem.

[2022-02-01 21:07] #54 closed

[2022-02-01 21:13] ronjouch commented on #23
@naugtur thanks for listening; here are my thoughts. I'd like this too, and yeah I feel too it would make sense to have this optional. I think it should be behind a command-line-flag `--require-reason` to both commands:

1. ***`check-audit`*** `--require-reason` would require a `"reason"` key for each item of the `"decisions"` array.
    1. Lack a `reason` would cause `check-audit` to: 1. stderr a

[2022-02-01 21:27] naugtur commented on #23
I'll get back to this topic soon.

Trying to figure out if I want to iron out issues with v3 and get your suggestions built on top of that, or do a major rewrite.

Using npm and yarn commands as backend is annoying and limiting and I'm thinking of rebuilding.on top of arborist (the lib behind most npm CLI features) and with a different usage pattern.

[2022-02-04 13:05] jurcyk commented on #54
This is caused by running as root in node16
Adding a user parameter to the command fixes the issue
`docker run --rm -it --user node --workdir /app -v $(PWD):/app  node:16.13.2-bullseye npx -y -p npm-audit-resolver@3.0.0-6 check-audit --json`
Great for CI/CD environments that only have docker installed and not nodejs

[2022-02-07 17:22] FBNitro opened #55 "3.0.0-6 release"
Hi, I'm just checking, was the 3.0.0-6 release intentionally marked as the latest release?

I noticed it showed up, and when I look here, I don't see any information or even a tag for the release.

[2022-02-26 20:49] naugtur commented on #55
Oh. No, that was not yet supposed to be latest. I'll clean it up btw of releasing 3.0.0-7

[2022-02-26 20:53] #55 closed

[2022-02-26 20:53] naugtur commented on #55
fixed

[2022-02-26 20:57] naugtur commented on #34
I solved outstanding stuff (mostly by deciding to drop the fix option, because it was too complicated to handle it in any form with marking stuff as fixed) and 3.0.0-7 is a decent release candidate.
Tests welcome!

[2022-02-26 21:15] naugtur commented on #23
I pushed forward with the current progress on v3.

The `reason` field is implemented in core https://github.com/naugtur/audit-resolve-core/blob/master/auditFile/versions/v1.js#L20

@ronjouch Feel free to start working on the PR. Let me know if you want/can start any time soon. I might be available to get on zoom or something and give you an intro or answer questions.

I'd go for `rules.requireReas

[2022-02-26 21:18] naugtur commented on #22
Anybody who needs this still here? I'd like to pick it up and discuss the solution in latest context.

[2022-02-26 21:22] naugtur commented on #16
Hi everyone.
A lot changed since. Anyone interested in testing `npm-audit-resolver@next`? Version 3 is getting closer to releasable.
Yarn 1 seems to work. Not sure about anything else at this point TBH.

[2022-02-26 21:41] naugtur commented on #34
lol, I'm missing a test :D BRB

[2022-02-26 21:45] naugtur commented on #34
@Fryuni works for me. Can you help me reproduce?

[2022-02-26 22:17] naugtur commented on #22
In other words - if `npm audit` itself wouldn't fail the build, `check-audit` shouldn't either, and I should skip all further work after getting exit code 0.

Wondering if it should always be the case or only if certain flags are detected.

[2022-02-26 22:22] joebowbeer commented on #22
Always the case (independent of flags) seems logical to me.

[2022-02-26 22:24] naugtur commented on #22
Assuming npm doesn't accidentally exit 0 in some configuration...

[2022-03-01 21:37] ronjouch commented on #34
@naugtur I have been successfully running `-6` on several projects before, I upgraded one to `-7`, and so far so good for me, feels ready for release. Node 14 on Linux, Node 6 + 8, Ubuntu + AL2.

- [x] Exits 1 on missing/unfixed ignores
- [x] Exits 0 when ignoring the right things
- [x] Exits 0 when I add a [`"reason"`](https://github.com/naugtur/npm-audit-resolver/issues/23)
- [x] `resolve-audit`

[2022-03-01 21:50] naugtur commented on #39
Closing this as it's fixed in the upcoming major release and when I close it's easier to remember it's done :)

[2022-03-01 21:50] #39 closed

[2022-03-02 01:36] Fryuni commented on #34
Update from our use too. About 15 projects, both front and back all updated to `-7`. Besides the caching bug on GH actions for whatever reason, everything is working perfectly.

We use the `setup-node@v3` action with node 16 to run on CI. Devs are all running some version of node 16 locally too and so far no problem

[2022-03-02 13:46] Fryuni commented on #34
We haven't updated any yet, but we added some fixes and temporary ignores and it worked fine.

[2022-03-03 20:49] naugtur commented on #34
The latest version doesn't support adding fixes. I'm confused :D

[2022-03-03 21:02] ronjouch commented on #34
@naugtur waddayamean by “adding fixes”. I do confirm that I was able in `3.0.0-7` to:

1. `./node_modules/bin/check-audit` and exit non-0
2. `./node_modules/bin/resolve-audit`, add a permanent exception
3. rerun `./node_modules/bin/check-audit` and get an exit 0

[2022-03-03 23:19] naugtur commented on #34
I meant I removed the option to apply the npm audit fix on a package. You sounded like you used it 😉

Thanks for clarifying

[2022-03-04 08:14] naugtur commented on #34
oh and BTW. @ronjouch - if you run the commands inside n npm script (`npm run test` etc) you can use the command names directly. You can also do `npx resolve-audit` or `yarn resolve-audit` dependeing ehich one you use and it'll work.

[2022-03-04 12:01] Fryuni commented on #34
By adding fixes I meant resolving the problems. We run `npm audit fix` directly and then `resolve-audit` to ignore the ones that we inspect to be safe. I forgot there was a `fix` option inside `resolve-audit`, sorry for the confusion @naugtur

[2022-03-08 17:49] bytestream commented on #34
@naugtur I'm using `3.0.0-7`. Where do the IDs come from in the `check-audit` output?
[code]

The IDs seem to frequently change, for example yesterday it was `1035259` which I added to `audit-resolve.json`:
[code]

[2022-03-08 18:04] naugtur commented on #34
Hmm. That's weird.

My code is not producing any information, it must be coming from npm.
Can you share the pkgjson and pkglock with me? Can be privately over email too

[2022-03-08 19:20] bytestream commented on #34
I've sent an email to your gmail

[2022-03-08 21:57] Fryuni commented on #34
Heads up, this is also happening for some of our devs. It might be a coincidence for our case that, but it is only happening on recently reported vulnerability. I have not checked deeply so this is only speculation:
The `id` field is coming from the `source` field on the audit json response. Could it be related to the change from the npm advisory database to the GH Advisory database, this happened

[2022-03-09 08:09] naugtur commented on #34
@ruyadorno @nlf Can you confirm that observation?

[2022-03-09 15:11] creising opened #56 "Entries previsouly ignored showing up as new"
We seem to be hitting a condition with vulnerabilities that were previously ignored showing up as new in our `audit-resolve.json` file. It looks like the ID is used as part of the key in the `audit-resolve.json` file, but lately it looks like these IDs are changing (daily over the last couple of days) which causes our build to keep breaking.

I know this tool is not responsible for the IDs, but I

[2022-03-09 17:58] adammwood commented on #56
We're seeing this across multiple projects and vulnerabilities, with the IDs (`source` property) changing every few hours, and came here to raise an issue to see if a different/stable ID could be used.

Here is an example from the last 48 hours with one vulnerability (oldest to newest):

[code]

Note the IDs are constantly incrementing.

Unless this is an issue with NPM/GitHub that can be resolved

[2022-03-09 18:44] adammwood commented on #56
Having looked into this further, we initially thought that this was related to the switch of NPM to GitHub Advisory Database, but dismissed this as it occurred months ago and we've only started seeing this in the last few weeks.

I've then seen that the [GitHub Advisory Database](https://github.com/github/advisory-database) repository was created in the last few weeks and has commits every few hou

[2022-03-09 19:05] creising commented on #56
I do see `github_advisory_id ` from NPM when I run `npm run --json` so I _think_ it will work if everyone thinks that is the right path forward.

[2022-03-09 19:13] adammwood commented on #56
I think we may be seeing something different due to NPM versions and the NPM 7 rewrite of audits.

Example output from NPM 8.1.0:

[code]

[2022-03-09 19:20] creising commented on #56
I see now. The output is much different.

[2022-03-09 20:22] naugtur commented on #56
@ruyadorno @nlf @darcyclarke help! :scream:

[2022-03-09 20:49] adevine commented on #56
Thanks very much all for the info in this thread. This is hitting us as well.

FWIW, we are also seeing a lot of audit failures when we run with the `--production` flag that we should not, because the dependencies only come through under devDependencies (transitive deps from our devDependencies, that is). This is solely a bug with NPM, NOT npm-audit-resolver, but this thread was helpful because I

[2022-03-11 14:39] snikoyo commented on #16
Just a little feedback for yarn: For a middle-sized vue-based project this has worked smoothly with yarn, even in the gitlab CI pipeline.

Only the global install does not work - ` yarn global add npm-audit-resolver` will install without errors but the two commands resolve-audit and check-audit are not there afterwards.

So our gitlab CI looks like this:

[code]

[2022-03-13 16:56] naugtur commented on #16
you could install in a container and use that as the CI base.
Which version have you tested? v3 (3.0.0-7 precisely) is very close to release.

[2022-03-28 12:43] fargito opened #57 "Add support for yarn 3"
Hello! Thanks for this awesome project!

I have a small problem using it with yarn3. It comes from the fact that yarn changed its `audit` command to `npm audit` so that it is now necessary to run `yarn npm audit` instead of just `yarn audit`. (See [this doc](https://yarnpkg.com/cli/npm/audit)).

The issue comes from [this line](https://github.com/naugtur/npm-audit-resolver/blob/c1d70ef06e0336c0beb

[2022-03-28 19:30] naugtur commented on #57
It'd be nice if --yarn detected which version you have and use it, but I'm not sure if yarn2 was doable. If you want to go with version detection, I might try to pressure you into supporting both :D
making --yarn default to v1 and --yarn1 --yarn2 --yarn3 would also work for me. These versions are pretty much totally unrelated software.

Whichever ends up happening, please be aware I'm getting read

[2022-03-29 17:36] fargito commented on #57
Thanks for your feedback! I should have some time to look into it in the next days, I'll try and submit a PR.

[2022-04-07 20:20] ATHayes commented on #57
Note I'm not a yarn maintainer, just a lurker.

The yarn maintainers refer to v1 as 'classic' and v2+ as 'modern', so maybe `--yarn-modern` makes sense here for this new flag. It would avoid you having to update the name of the flag for every major yarn release.

There's not much different between yarn 2 and 3, - I'd argue you only need to support yarn 1 and latest modern.

[2022-04-11 23:26] johnz commented on #56
@MylesBorins , @naugtur can you please advise if there is any update?

[2022-04-13 19:24] naugtur commented on #56
I am not aware of any updates. But I have no insight into npm/github.
Is anybody monitoring if this is still occurring? I switched to other aspects of supply chain security a few months back and npm audit is not part of my daily routine right now.

I'm pondering a rewrite where I skip the dependency on npm/yarn for audit and compile the audit results from github vulnerability database directly, us

[2022-04-13 19:55] adammwood commented on #56
@naugtur That sounds like an interesting long-term solution.

In the short-term, would you consider switching to using `github_advisory_id` as the identifier as mentioned earlier in this issue, which would presumably need to go into a major release as a breaking change? This approach has already been adopted by similar projects hitting this issue, e.g. https://github.com/IBM/audit-ci/pull/217. If

[2022-04-13 20:14] adevine commented on #56
+1 to @adammwood's suggestion.

One point of clarification. I obviously don't know if others have the same opinion, but the only issue for us is that the npm IDs are not _stable_. We have no problem throwing away all of our audit resolver files and starting over (i.e. things aren't working for us now anyways so we're doing audit failure checks manually), so literally anything that would be unlikel

[2022-04-13 21:00] naugtur commented on #56
For some reason I thought both are not stable. :facepalm:
I'll merge a PR for that change right away (or implement myself whenever I get an afternoon to myself)

[2022-04-13 22:41] MylesBorins commented on #56
GitHub advisory ID will be stable. I'm working on getting rid of the mutability of the npm advisory ID.

[2022-05-24 18:55] RichardBradley opened #59 "Support for automatically removing no-longer-needed ignores?"
If I add an ignore to the log file, but later upgrade my app; that line will exist in the log file forever.

It might be nice to automatically prune ignores which are no longer needed? I can think of some obscure scenarios where that might conceivably be more secure, and it certainly would be tidier and make the log file easier to review.

Thanks for a great tool!

[2022-06-13 19:22] naugtur commented on #57
@fargito @ATHayes so if we're choosing between `--yarn-berry` and `--yarn-modern` which is more likely to not make us cringe in the future?
Is yarn4 still called berry? Is there going to be an even more modern yarn before this kind of tooling becomes obsolete?

I'd go with `--yarn-modern` because who knows what berry means? But I wonder how many severe enough modernizations are ahead.

[2022-06-13 19:24] naugtur commented on #56
@creising @adammwood @adevine can any one of you confirm you're no longer having issues? I'd close this one.

[2022-06-13 19:28] naugtur commented on #59
That's a great feature and I thought about it first a few months into using this tool myself. Didn't come up with a satisfying process for that that'd take into account optional modules and some other corner cases I don't recall.

You probably have a simpler approach. What would you like to do to do the cleanup? Would it be just running the audit as is and dropping all rules that do not overlap wi

[2022-06-13 19:31] naugtur commented on #31
I'd need more details or a simple way to reproduce. Closing as stale for now. Please share more details and reopen.

[2022-06-13 19:31] #31 closed

[2022-06-13 19:42] naugtur commented on #38
closing in favor of #34

[2022-06-13 19:42] #38 closed

[2022-06-13 19:46] naugtur commented on #34
The issue with IDs should now be behind us, I'm getting ready to finish off v3 and get it published.
Who's excited? :D

[2022-06-13 19:50] naugtur commented on #23
@ronjouch I'm going to try and finalize the v3. Do you want to work on this now to get it in the release?

[2022-06-13 19:56] fargito commented on #57
For now both are equally as meaningful, but i'd argue that "berry" is unlikely to be reused in the future, and therefore it may prevent painful breaking changes here in some time.

But honestly, either one is good for me !

[2022-06-13 19:59] ronjouch commented on #23
@naugtur I want to! But $job always throws stuff at you, causing endless postponing in favor of more urgent concerns :shrug: . But thanks for the reminder, scheduling it for our next "hack day".

Thus, for sure don't delay the final v3 release waiting for this, consider this a "potential-contribution". Anyway, this can ship in a semver-minor (extra feature) version 3.1 or 3.2, right?

[2022-06-13 20:01] ronjouch commented on #23
@naugtur also by the way, here's one more confirmation that 3.0.0-7 has been working great at work, both on npm {6, 8} workflows, in a dozen projects. No issue to report, feels ready to ship.

[2022-06-13 20:03] naugtur commented on #23
Would look good on the v3 announcement, but this is fine :)

[2022-06-13 20:05] naugtur opened #60 "v3 tracking"
Remaining open issues before v3 final release

- [ ] #34
- [ ] #25
- [ ] #22
- [ ] address the missing `fix` functionality in writing?

[2022-06-13 20:17] naugtur commented on #57
I wanted to add a test before the release and tried with yarn 2

Are you sure it should be `yarn npm audit --json` and not `yarn audit --json` ?

[2022-06-13 20:18] naugtur commented on #57
or is this supposed to only work on v3?

[2022-06-13 20:55] naugtur commented on #57
Ok, got it.
yarn works, `yarn npm audit` returns vulnerabilities when I added them. but audit-resolver doesn't see any.

@fargito something doesn't work. I'll not publish today.

[2022-06-14 08:01] fargito commented on #57
Ah ! This is annoying, I'll look into it. It thought it worked, but I probably messed up in my tests...

You can unmerge it for now, I'll change the specific logic in `pkgmanagers/yarnBerry.js`

[2022-06-14 08:41] naugtur commented on #57
If you can engage right now, I'm fine keeping it unreleased in the branch. Please open a new PR with changes.
Try setting up an end2end test. There's a test.sh you can use to switch yarn to berry and do all the necessary prep before running the test. I know bash is ugly, but it's much more flexible for exactly this kind of complicated setup.

[2022-07-01 17:15] creising commented on #56
Was there a new version released with a fix?

[2022-07-06 22:41] naugtur commented on #57
Fixed by #63

[2022-07-06 22:41] #57 closed

[2022-08-18 19:12] joebowbeer commented on #34
Is npm7 still maintained? The last release (npm v7.24.2) was 1 year ago.

Given that Node 16 enters maintenance phase in 60 days, and even it ships with npm v8, is there any need to support npm v7?

[2022-08-18 19:35] naugtur commented on #34
Edited the title. @joebowbeer

[2022-08-18 19:42] naugtur commented on #60
It's about npm7 and above.
I'm waiting with the release to finish a bunch of minor features. Main npm7+ support is done.
I should probably stop waiting...

I'm a bit swamped with lots of other stuff though and help from community has run out, so need to push it over the line myself now.

[2022-08-19 14:20] naugtur commented on #56
@creising release was not necessary. The issue was in data supplied from npm

[2022-08-30 21:29] naugtur commented on #22
Ok, so I implemented this.
@joebowbeer - feel freer to try it out from the commit. I'll need to fix tests before I publish it ;)

[2022-08-31 00:18] joebowbeer commented on #22
@naugtur thanks; I'll try as soon as there is a published version

[2022-08-31 05:04] naugtur commented on #22
Not what I hoped for but I'll take it

[2022-11-04 15:40] mgdodge commented on #34
@naugtur , with npm 9 just being released, I'm curious if they've messed with the audit format again. I think historically there's enough data here to verify things, curious if you've got an eye on that or not.

[2022-11-04 16:30] naugtur commented on #34
My eyes were elsewhere mostly. Thanks for bringing it up.
I was hoping to release v3 for Christmas so gotta check what they did 😁

[2022-11-07 20:23] naugtur commented on #34
@mgdodge seems to be working with npm9